Data8.MvcValidation/Service References/TelFormattingWS/telephoneformatting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.data-8.co.uk/integr8" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.data-8.co.uk/integr8" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.data-8.co.uk/integr8">
      <s:element name="FormatTelephoneNumberSimple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormatTelephoneNumberSimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatTelephoneNumberSimpleResult" type="tns:TelephoneFormattingOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TelephoneFormattingOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="FormattedNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditsRemaining" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="FormatTelephoneNumberMultiple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requests" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ArrayOfOption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Option">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FormatTelephoneNumberMultipleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatTelephoneNumberMultipleResult" type="tns:ArrayOfTelephoneFormattingOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTelephoneFormattingOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TelephoneFormattingOutput" nillable="true" type="tns:TelephoneFormattingOutput" />
        </s:sequence>
      </s:complexType>
      <s:element name="FormatTelephoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="tns:ArrayOfOption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormatTelephoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatTelephoneNumberResult" type="tns:TelephoneFormattingOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TelephoneFormattingOutput" nillable="true" type="tns:TelephoneFormattingOutput" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FormatTelephoneNumberSimpleSoapIn">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumberSimple" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSimpleSoapOut">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumberSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberMultipleSoapIn">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumberMultiple" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberMultipleSoapOut">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumberMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumber" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:FormatTelephoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSimpleHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSimpleHttpGetOut">
    <wsdl:part name="Body" element="tns:TelephoneFormattingOutput" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSimpleHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FormatTelephoneNumberSimpleHttpPostOut">
    <wsdl:part name="Body" element="tns:TelephoneFormattingOutput" />
  </wsdl:message>
  <wsdl:portType name="TelephoneFormattingSoap">
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <wsdl:input message="tns:FormatTelephoneNumberSimpleSoapIn" />
      <wsdl:output message="tns:FormatTelephoneNumberSimpleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumberMultiple">
      <wsdl:input message="tns:FormatTelephoneNumberMultipleSoapIn" />
      <wsdl:output message="tns:FormatTelephoneNumberMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumber">
      <wsdl:input message="tns:FormatTelephoneNumberSoapIn" />
      <wsdl:output message="tns:FormatTelephoneNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TelephoneFormattingHttpGet">
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <wsdl:input message="tns:FormatTelephoneNumberSimpleHttpGetIn" />
      <wsdl:output message="tns:FormatTelephoneNumberSimpleHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TelephoneFormattingHttpPost">
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <wsdl:input message="tns:FormatTelephoneNumberSimpleHttpPostIn" />
      <wsdl:output message="tns:FormatTelephoneNumberSimpleHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TelephoneFormattingSoap" type="tns:TelephoneFormattingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <soap:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumberSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumberMultiple">
      <soap:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumberMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumber">
      <soap:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TelephoneFormattingSoap12" type="tns:TelephoneFormattingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <soap12:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumberSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumberMultiple">
      <soap12:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumberMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormatTelephoneNumber">
      <soap12:operation soapAction="http://www.data-8.co.uk/integr8/FormatTelephoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TelephoneFormattingHttpGet" type="tns:TelephoneFormattingHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <http:operation location="/FormatTelephoneNumberSimple" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TelephoneFormattingHttpPost" type="tns:TelephoneFormattingHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FormatTelephoneNumberSimple">
      <http:operation location="/FormatTelephoneNumberSimple" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelephoneFormatting">
    <wsdl:port name="TelephoneFormattingSoap" binding="tns:TelephoneFormattingSoap">
      <soap:address location="https://webservices.data-8.co.uk/telephoneformatting.asmx" />
    </wsdl:port>
    <wsdl:port name="TelephoneFormattingSoap12" binding="tns:TelephoneFormattingSoap12">
      <soap12:address location="https://webservices.data-8.co.uk/telephoneformatting.asmx" />
    </wsdl:port>
    <wsdl:port name="TelephoneFormattingHttpGet" binding="tns:TelephoneFormattingHttpGet">
      <http:address location="https://webservices.data-8.co.uk/telephoneformatting.asmx" />
    </wsdl:port>
    <wsdl:port name="TelephoneFormattingHttpPost" binding="tns:TelephoneFormattingHttpPost">
      <http:address location="https://webservices.data-8.co.uk/telephoneformatting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>